<form action="/quotes" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="Mobile Number" name="mobile_Number">
  <input type="text" placeholder="address" name="address">
  <button type="submit">Submit</button>
</form>